body {
    font-family: sans-serif;
    background-color: #123352;
    margin: 0;
    color: #ccc;
}

/* Seccion navegacion */
.header {
    border-bottom: 3px solid #ccc;
    padding: 30px;
}

.nav__group {
    margin: 0;
    text-align: center;
}

.nav__items {
    background-color: #ccc;
    display: inline-block;
    padding: 1px 15px;
    margin: 0 25px;
    border-radius: 5px;
}

.nav__items:hover {
    box-shadow: 0 0 30px 0 #ccc7;
}

.nav__links {
    color: #123352;
    font-weight: bold;
    text-decoration: none;
}

/* Seccion cards */
.container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Seccion cards transition */
.container__card {
    box-sizing: border-box;
    background-color: #ccc;
    color: #123352;
    width: 300px;
    height: 250px;
    margin: 100px 0;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 7px;
    overflow: auto;
    position: relative;
    transition-timing-function: cubic-bezier(.03,.97,.96,.72);
    transition-property: bottom;
    transition-duration: 4s;
    bottom: 0;
}

.container__card:hover {
    bottom: 40px;
    box-shadow: 0 0 30px 0 #ccc9;
}

.card__subtitle {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.card__content {
    text-align: justify;
    font-size: 16px;
}

/* Seccion footer */
.footer {
    padding: 10px;
    text-align: center;
}